# Requirements for sensors (MUST ENABLE I2C)


# GY-271 (Magnetometer)
# we implement the class
smbus2 # = python-smbus


# LoRa (transmitter)
LoraRF  # Must enable 'dtparam=spi=on' in boot params


# NEO-6M/NMEA GPS
pynmea2  # Parse NMEA messages
pyserial  # To interface with hardware, as pynmea2 doesn't provide this functionality


# BME280
pimoroni-bme280  # Actual interface
# smbus2 is also needed

# pms5003 Also needs some config changes: https://github.com/pimoroni/pms5003-python
pms5003  # Actual interface







